.wp-dog-pedigree-form {
	width: 800px;
	margin: 25px;
	padding: 25px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
label {
	display: block;
	font-size: 12px;
}
input {
	width: 100%;
}
input:focus {
	width: 100%;
	border: 1px solid #005097;
}
select {
	width: 100%;
}
select:focus {
	width: 100%;
	border: 1px solid #005097;
}
input[type=button], input[type=submit], input[type=reset] {
	background-color: #005097;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
  }

table.admin-table {
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th.admin-table,
td.admin-table {
	padding: 15px;
	color: #000;
}

td.admin-table {
	background-color: rgba(255,255,255,0.2);
}

th.admin-table {
	text-align: left;
	background-color: rgba(121, 121, 121, 0.3);
}

thead.admin-table {
	th {
		background-color: #55608f;
	}
}

tbody.admin-table {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td.admin-table {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.wp_dogpedigree {
	background-color: white;

}

.trashcans {
	height: 16px;
	width: 14px;
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z'/%3E%3C/svg%3E");
}
.trashcans:hover	{ 
	animation: tilt-n-move-shaking 0.15s;
}
i.trashcans {
	color: lightslategrey;
}
i.trashcans:hover {
	color: red;
}
@keyframes tilt-n-move-shaking {
	0% { transform: translate(0, 0) rotate(0deg); }
	25% { transform: translate(5px, 5px) rotate(5deg); }
	50% { transform: translate(0, 0) rotate(0deg); }
	75% { transform: translate(-5px, 5px) rotate(-5deg); }
	100% { transform: translate(0, 0) rotate(0deg); }
}



.dog-pedigree-table {
	margin: 0 auto;
	width: 100%;
	border: 1px solid rgb(211, 211, 211);
}

.dog-pedigree-name {
	padding: 5px;
	margin: 0 auto;
	text-align: center;
}

.dog-pedigree-champ {
	font-size: 12px;
	padding: 0px;
}

.dog-pedigree-dogname {
	font-size: 14px;
}

.dog-pedigree-color {
	font-size: 12px;
	padding: 0px;
}

.dog-pedigree-furtype {
	font-size: 12px;
	padding: 0px;
}

.dog-pedigree {
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.studdog {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.studdog hr{
	border: 1px solid #005097;
}


.studdog-image {
	width: 200px;
	height: 200px;
	float: left;
	padding: 15px;
	display: block;
	overflow: hidden;
}
.studdog-image img {
	width: auto;
	height: 200px;
	float: left;
	padding: 15px;
	display: block;
	margin: -75px 0 0 -100px;
}

.studdog-owner {
	font-size: 15px;
	padding: 15px;
	float: left;
}
.studdog-owner h1 {
	font-size: 20px;
	padding: 0px;
}
.studdog-owner p {
	padding: 0px;
	margin: 0px;
}

.studdog-dog {
	font-size: 15px;
	padding: 15px;
}
.studdog-dog p {
	padding: 0px;
	margin: 0px;
}
